html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}

/*  COLORS */
:root {
	--main-red: rgb(253, 94, 94);
	--dark-grey: rgb(85, 85, 85);
	--soft-black: rgb(56, 56, 56);
	--bg-grey: rgb(240, 240, 240);
	--intense-red: rgb(204, 29, 29);
	--form-blue: #5fa8d3;
}

/*  TYPOGRAPHY */

@font-face {
	font-family: "Gotham Black";
	src:url("./fonts/Gotham-Black.otf");
}
@font-face {
	font-family: "Gotham Bold";
	src: url("./fonts/Gotham-Bold.otf");
}
@font-face {
	font-family: "Gotham Light";
	src: url("./fonts/Gotham-Light.otf");
}
@font-face {
	font-family: "Gotham Medium";
	src: url("./fonts/GothamMedium.ttf");
}
@font-face {
	font-family: "Futura Black";
	src: url("./fonts/FutuBd__.ttf");
}
/* @font-face {
	font-family: "Futura Medium";
	src: url("./fonts/FutuMd__.ttf");
} */
@font-face {
	font-family: "Futura Light";
	src: url("./fonts/FutuLt__.ttf");
}


body {
	font-family: "Futura Light", sans-serif;
}
.titlesT {
	font-family: 'Gotham Black';
}
h1 {
	font-family: 'Futura Black';
	z-index: 100;
	position: relative;
}
.subtitlesT {
	font-family: "Gotham Bold";
}
/*  FONT SIZE */
p {
	font-size: 16px;
	margin: 0;
	line-height: normal;
}
.hugeLetters {
	font-size: 70px;
}
.bigLetters {
	font-size: 55px;

}
.mainTitle {
	font-size: 30px;
	margin-top: 15px;
	width: 100%;
	/* display: block; */
}
.subtitle {
	font-size: 20px;
}
.sectionTitle {
	font-family: "Gotham Medium";
	font-size: 15px;
}
.whiteTitle {
	font-size: 30px;
	width: 70%;
	position: relative;
	color: #fff;
	z-index: 100;
	line-height: 1.3em;
}

.paragraph {
	color: var(--dark-grey);
	text-align: justify;
	margin: 5px 0;
}

/* -------- GENERAL ELEMENTS -------- */

.container {
	padding: 0 25px;
	/* çç hace falta? */
	display: flex;
	flex-flow: row wrap;
}

.containerB {
	padding: 0;
	/* margin-right: auto;
	margin-left: auto; */
}
.containerPadding {
	padding-right: 25px;
	padding-left: 25px;
}
.fixedHeight {
	height: 100vh;
}

a {
	width: 100%;
	color: #000;
}

input:focus {
	outline: none;
}
textarea:focus {
	outline: none;
}
button:focus {
	outline: none;
}

.btnsBox1 {
	align-self: center;
	position: relative;
	top: 185px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.btnsBox2 {
	margin-top: 60px;
	z-index: 100;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.btnsBox3 {
	margin-top: 270px;
	z-index: 100;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.transparentBtn {
	z-index: 100;
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
	width: 130px;
	height: 45px;
	font-size: 21px;
}

.transparentBtn:active {
	background: rgba(255, 255, 255, 0.15);
}

.transparentBtn a {
	color: #fff;
}

.secondaryBtn {
	z-index: 10;
	position: relative;
	top: 7px;
	background: transparent;
	border: none;
	border-bottom: 1.2px solid #fff;
	padding: 0 0 2px;
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
	width: 105px;
}
.secondaryBtn:active {
	color: rgb(185, 185, 185)
}

a:active {
	text-decoration: none;
}

.btnInside {
	margin-top: 10px;
	background: var(--main-red);
	font-size: 18px;
	border-radius: 3px;
	color: #fff;
	padding: 7px 15px;
	border: none;
	-webkit-box-shadow: 2px 3px 5px -2px rgba(0,0,0,0.15); 
	box-shadow: 2px 3px 5px -2px rgba(0,0,0,0.15);
}

.center {
	margin-right: auto;
	margin-left: auto;
}

/* autocomplete transparent background */
@keyframes autofill {
    0%,100% {
        color: #fff;
        background: transparent;
    }
}

input:-webkit-autofill {
    /* -webkit-animation-delay: 1s; 
    -webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both; */
	animation-delay: 1s; 
    animation-name: autofill;
    animation-fill-mode: both;
}

.bg {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	position: absolute;
}

.bg-img {
	height: 100%;	
	/* z-index: 0; */
}

.mascara {
	width: 100%;
	height: 100%;

	background: #000;
	opacity: 0.3;
	/* z-index: 1; */
	position: absolute;
}

.mascaraExtra {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	position: absolute;

	background: #000;
	opacity: 0.3;
	z-index: 1;
}

/* -------- LOGO -------- */

#logo {
	text-align: center;
	width: 100%;
}
.logo a {
	color: var(--main-red);
}

/* -------- NAVBAR -------- */

#navbar {
	position: fixed;
	bottom: 0;
	left: 0;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;

	background: rgb(230, 230, 230);
	width: 100%;
	padding: 10px 0;
	box-shadow: 0px -3px 16px -11px rgba(112,112,112,0.86);
}

.faMenuIcon {
	transform: scale(1.25);
	color: var(--soft-black);
}

.profileNavbarBox {
	/* width: 25px; */
	border-radius: 50%;
	overflow: hidden;
}

.profileNavbarBox img {
	width: 25px;
}

.profileNavbarBox .active { 
	/* no va çç*/
	/* border: solid 1px red; */
}


#navbar .active svg { /* por que no funciona?? ççç */
	color: var(--main-red);
}

/* -------- LANDING PAGE -------- */

.alert {
	z-index: 100;
}

.textOnTop {
	position: relative;
	width: 100%;
	z-index: 100;
	padding-left: 7px;
	color: #fff;
	display: flex;
	flex-flow: column wrap;
	padding: 10px;
	top: 100px;
}

.landingMsg {
	/* position: relative; */
	top: 100px;
	/* width: 100%; */
}

/* -------- SIGN IN FORM -------- */

.formBox {
	position: absolute;
	top: 60px;

	width: 100%;
	margin-right: auto;
	margin-left: auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#signIn .whiteTitle {
	margin-bottom: 30px;
}

.signInSMBox {
	display: flex;
	flex-direction: column;
	width: 100%;
	/* margin-top: 40px; */
	position: absolute;
	margin: 0 auto;
	bottom: 50px;
	/* position: relative;
	top: 90px; */
}

.GFB-btns {
	font-size: 18px;
	padding-top:2px;
	padding-bottom:2px;
	margin-bottom: 3px;
	width: 250px;
	align-self: center;
	text-align: center;

	color: white;
	z-index: 100;
	border: 2px solid #fff;
}
.google-btn {
	background: rgba(253, 94, 94, 0.6);
}
.fb-btn {
	background: rgba(90, 94, 250, 0.6);
}


.formSection {
	position: relative;
	height: 80px;
	width: 70%;

	overflow: hidden; /* para esconder lo que sobra de la linea de subrayado */
	z-index: 200;
}

.formSection input {
	width: 100%; 
	height: 100%;
	/* color: #595f6e; */
	color: #fff;
	font-size: 20px;
	padding-top: 20px;
	border: none;
	background: transparent;
}

.formSection label {
	position: absolute;
	color: rgb(185, 185, 185);
	bottom: 0;
	left: 0;
	width: 100%;
	pointer-events: none;	/* hace que no reaccione al raton, por lo que puedo clickar en el input aunque este encima esto */
	border-bottom: 1px solid white;

	background: transparent;
}

.formSection label::after {
	content: ""; /* puedo añadir cosas extra despues, pero solo querio styles */
	position: absolute;
	left: 0;
	bottom: -2px;
	height: 100%;
	width: 100%;
	border-bottom: 3px solid var(--form-blue);

	transform: translateX(-100%); /* para que aparezca desde la izq. luego con overflow hidden se esconde lo que solabelRadioContenta*/
	transition: transform 0.3s ease;
}

.labelContent {
	position: absolute;

	width: 70%;
	font-size: 20px;
	bottom: 5px;
	left: 0;
	transition: all 0.3s ease;
}

.visibilityIcon {
	position: absolute;
	right: 10px;
	bottom: 20px;
	float: right;
	transform: scale(1.1);
	color: #fff;

	z-index: 100;
}

.visibilityBlue {
	color: var(--form-blue);
}

.formSection input:focus + .labelBox .labelContent, /* el + indica que el que esté debajo. cuando clickamos en el input, afecta al label así: */
.formSection input:valid + .labelBox .labelContent { /* cuando se mete info, se queda ahí */
	transform: translateY(-120%);
	font-size: 18px;
	color: var(--form-blue);
	background: none;
}

.formSection input:focus + .labelBox::after,
.formSection input:valid + .labelBox::after {
	transform: translateX(0%);
}


/* -------- SEARCHBAR -------- */

#searchbar {
	width: 100%;
}

.searchbar input {
	width: 100%;
	margin-top: 8px;
	padding-left: 10px;
	border-radius: 5px;
	border: none;
	background: var(--bg-grey);
}

/* -------- CITIES LIST -------- */

.citiesGallery {
	display: flex;
	flex-flow: column wrap;
	align-items: center;

	padding: 20px 0 10px;
	width: 100%;
}

.cityCard {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 20px;
	padding: 12px;

	border-radius: 10px;
	-webkit-box-shadow: 2px 3px 16px -2px rgba(0,0,0,0.15); 
	box-shadow: 2px 3px 16px -2px rgba(0,0,0,0.15);
	background: #fff;
}

.thumbnail {
	width: 65px;
	height: 65px;
	border-radius: 10px;
}

.cityNameThumb {
	align-self: center;
	margin-left: 20px;
}


/* -------- CITY ITINS -------- */

.itinsCarrousel {
	display: flex;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	scroll-snap-points-x: repeat(300px);
	scroll-behavior: smooth;
	scroll-snap-type: mandatory;

	width: 100%;
	padding-top: 30px;
}

.itinsCarrousel::-webkit-scrollbar {
	visibility: hidden;
}

.itinBox {
	flex-shrink: 0;
	display: flex;
	flex-flow: column wrap;

	margin-left: 37px;
	position: relative;
}
.itinBox:first-of-type {
	margin-left: 25px;
}
.itinBox:last-of-type {
	padding-right: 25px;
}
.itinCard {
	position: relative;	
	height: 350px;
	width: 280px;
	margin-bottom: 15px;

	border-radius: 20px;
	-webkit-box-shadow: 2px 3px 16px -2px rgba(0,0,0,0.4); 
	box-shadow: 2px 3px 16px -2px rgba(0,0,0,0.4);

	overflow: hidden;
}

.itinImgPrev {
	width: 100%;
	/* ççççç buscar height porque sse esta deformando */
	height: 100%;
	position: absolute;
}

.itinInfoPrev {
	position: absolute;
	bottom: 0;
}

.mascaraCard {
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 110%;
	position: absolute;
	bottom: 0;
	z-index: 0;

	/* original 0 0 40 40  */
	box-shadow:  0px 0px 30px 20px rgba(0, 0, 0, 0.4);
}

.itinInfoPrev .shortenedSummary {
	z-index: 10000;
	overflow: hidden;
	display: -webkit-box;	
	-webkit-line-clamp: 4; /* num of lines displayed */
	-webkit-box-orient: vertical;
	color: #fff;
	margin: 0 30px;
	margin-bottom: 20px;
	position: relative;
}

.extraInfoBox {
	position: relative;
	width: 280px;
}

.extraInfoIconsBox {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-bottom: 10px;
	margin-top: 15px;
}

.extraInfoIcon {
	color: var(--dark-grey);
}

.extraInfoBox .subtitle {
	margin-left: 27px;
	margin-right: 27px;
	/* color: black; */

	/* no sobresalga */
	display: block;
	white-space: nowrap;
  	overflow: hidden;
 	text-overflow: ellipsis;
}

.extraInfoBox .hastagsBox {
	margin-left: 27px;
	display: flex;
	flex-flow: row wrap;
}
.extraInfoBox .hastag {
	color: rgb(150, 150, 150);
	margin-right: 20px;
}

.itinTitleBox {
	position: relative;
	width: 100%;
}

#ActivitiesPage .subtitle {
	width: 92%;
	display: inline-block;
}

/* -------- HEART ICON -------- */

.itinCard .faHeart {
	position: absolute;
	right: 20px;
	top: 20px;
	margin: 5px;
	transform: scale(2);

}

.itinCard .faHeart svg {
	border-radius: 50%;
	-webkit-box-shadow: 2px 3px 5px -2px rgba(255, 255, 255, 0.3); 
	box-shadow: 2px 3px 5px -2px rgba(255, 255, 255, 0.3);
	background: rgba(255, 255, 255, 0.3);
	padding: 2px;
}


#ActivitiesPage .faHeart {
	/* position: absolute; */
	float: right;
	/* right: 0px; */
	margin: 5px;
	transform: scale(1.45);
}

.farHeart {
	color: var(--soft-black);
}
.fasHeart {
	color: var(--intense-red);
}

/* -------- ADD NEW -------- */

.addNewBox {
	margin-bottom: 70px;
}

.addNewBtn {
	/* background: var(--intense-red); */
	background: var(--main-red);
	width: 40px;
	height: 40px;
	color: #fff;
	border-radius: 50%;
	border: none;
	-webkit-box-shadow: 2px 3px 5px -2px rgba(0,0,0,0.15); 
	box-shadow: 2px 3px 5px -2px rgba(0,0,0,0.15);
}

.addNewBox span {
	margin-left: 5px;	
	font-weight: 400;
}

.modal-content {
	width: 80%;
	margin: auto;
	padding: 20px;

	display: flex;
	flex-flow: column wrap;
}

.modal-content button {
	margin-top: 20px;
}

.addItinForm input {
	width: 100%;
	margin-bottom: 10px;
}
.addItinForm input:focus {
	outline: #5fa8d3 solid 1px;
}
.addItinForm label {
	margin-bottom: 5px;
}

/* -------- ACTIVITIES -------- */

.activityCard {
	width: 100%;
	height: 250px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	overflow: hidden;
}
.activitiesImg {
	/* width: 100%; */
	height: 100%;
}

.activityTitle {
	font-family: "Gotham Light";
	font-size: 14px;
	position: absolute;
	bottom: 10px;
	right: 30px;
	padding: 5px 10px;
	border-radius: 20px;

	background: rgba(0, 0, 0, 0.4);
	color: #fff;
}
.carousel-control-next, .carousel-control-prev {
	opacity: 0.9;
}

.allCommentsBox {
	margin-bottom: 80px;
	width: 100%;
	margin-top: 10px;
}

.addCommentBox {
	position: relative;
	margin: 10px 0;
	border-radius: 10px;
	overflow: hidden;
	border: 1px #ccc solid;
}

.addCommentInput {
	width: calc(100% - 30px);
	height: 2.75em; /* initial height */
	padding: 10px;
	border: none;
}

.sendCommentBtn {
	position: absolute;
	right: 20px;
	/* top: calc(50%); */
	bottom: 5px;
}
.commentBox {
	background: var(--bg-grey);
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
}

.commentName {
	font-weight: bold;
	font-size: 15px;
	text-align: end;
}

/* -------- PROFILE -------- */

.profileBox {
	margin-top: 70px;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;	
}

.profileBox p {
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
}

.profilePicBox {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;

	background: var(--bg-grey);
}

.profilePicBox .faProfileIcon {
	width: 130px;
	height: 130px;
	color: var(--dark-grey);
}

.profilePicBox img {
	width: 150px;
}
