# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# FOT GITHUB
/config/keys.js
/uploads
client/node_modules/
node_modules


# FOR DEPLOY
# client/node_modules/
# node_modules
CHANGE.txt


